html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #fcf4f4;
}

.nav-link{
    font-weight: 499;
}

.title{
    font-size: 25px;
    font-weight: 300;
}

.title-2{
    font-weight: 500;
    font-size: 100px;
}

#desc-hero{
    font-weight: 300;
    font-size: 29px;
}

#line{
    width: 50%; 
    height: 2px; 
    background-color: #333; 
    margin: 0 auto; 
    border: none; 
}

.title-desc{
    font-size: 20px;
    font-weight: 300;
}

#card:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}

.carta:not(:hover) {
    transition: transform 0.3s 0.3s; /* Retardo de 0.3 segundos antes de volver al tamaño original */
    transform: scale(1);
}

#objetivos{
    font-size: 23px;
}

.img-obj{
    width: 300px;
}

#icon-foot{
    font-size: 24px;
}

/*Fase 4*/

.wave-container {
    position: relative;
}

.wave-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcf4f4;
    z-index: 1;
}

.text-gray {
    color: #dfdfdf; /* Código de color gris en hexadecimal */
}

#corousel-interfaz{
    background: #202528;
}

.carousel-item img {
    max-width: 50%;
    margin: 0 auto;
}

#img-interfaz{
    border-radius: 15px;
}
