html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #fcf4f4;
}

.nav-link {
    font-weight: 499;
}

.title {
    font-size: 25px;
    font-weight: 300;
}

.title-2 {
    font-weight: 500;
    font-size: 100px;
}

#desc-hero {
    font-weight: 300;
    font-size: 29px;
}

#line {
    width: 50%;
    height: 2px;
    background-color: #333;
    margin: 0 auto;
    border: none;
}

.title-desc {
    font-size: 20px;
    font-weight: 300;
}

#card:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

#card:not(:hover) {
    transition: 0.1s 0.1s;
    transform: scale(1);
}

#objetivos {
    font-size: 23px;
}

.img-obj {
    width: 300px;
}

#icon-foot {
    font-size: 24px;
}

/*Fase 4*/

.wave-container {
    position: relative;
}

.wave-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcf4f4;
    z-index: 1;
}

.text-gray {
    color: #dfdfdf;
    /* Código de color gris en hexadecimal */
}

#corousel-interfaz,
#section-dark {
    background: #202528;
}

#img-interfaz {
    max-width: 50%;
    margin: 0 auto;
    border-radius: 15px;
}

#roles:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

#roles:not(:hover) {
    transition: 0.1s 0.1s;
    transform: scale(1);
}

embed {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#img-roles {
    border-radius: 20px;
}

#img-back-dark{
    background-color: #202528;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.custom-border {
    border-top: 2px solid #202528;
    border-bottom: 2px solid #202528;
}

#descripcion{
    background-color: #202528;
    color: #dfdfdf;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}